<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form method="post" action="/user/add">
        <p>
            用户名:<input name="names" type="text">
        </p>
        <p>密码: <input name="decs" type="password" </p> <br> <input type="submit" value="提交">

    </form>

</body>

</html>